* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 600px;
  margin: 0 auto;
}

#wrapper {
  padding:50px;
}

#contact-box h2 {
  display: none;
  text-align: center;
}

#name, #contact-box {
  text-align: center;
}

#contact-box {
  margin-top: -5px;
}

div {
  margin-top: 20px;
}

#name {
  font-size: 20px;
  background-color: white;
}

div h2 {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  background-color: rgba(220,220,220, .5);
}

#date {
  font-weight: bold;
  color: gray;
}

h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
}

p, li {
  margin-top: 5px;
  color: gray;
  font-size: 10px;
  line-height: 15px;
}

li {
  display: inline;
}
